.footer{
    padding: 60px 10px;
    text-align: center;
    background-color: #2e7d32;
    color: white;
}
.footer .logo{
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    color: white;
    text-align: center;
    font-weight: bold;
}

.footer h3{
    font-style: italic;
    color: white;
    text-align: center;
}

.footer p{
    margin-top: 10px;
    font-size: 0.9rem;
}