.card{
    border: 1px solid #ccc;
    border-radius: 5px;
    /* padding: 1rem; */
    text-align: center;
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
    cursor: pointer;
    /* border-radius: 8px; */
}

.card .off{
    position: absolute;
    top: 5px;
    right: -8px;
    background-color: #2e7d32;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 3px;
    font-size: 14px;
}

.card .product-name{
    font-size: 12px;
    margin-bottom: 15px;
}
.card .product-prices{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 3px;
}

.card .product-prices .mrp{
    text-decoration: line-through;
    color: #ca1919;
    font-size: 12px;
}

.card .product-prices .selling-price{
    color: #fff;
    background-color: #2e7d32;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
}

.card button{
    background-color: #2e7d32;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    cursor: pointer;
}
.card button:hover{
    background-color: #1b5e20;
}

.card button.add-to-cart-btn{
    border-radius: 25px;
    font-size: 16px;
    position: absolute;
    right: -8px;
    top: 50%;
}

.card .qty-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
   position: absolute;
   transform: translate(-50%, -50%);
    right: -50%;
    top: 50%;
}
.card .qty-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.card .qty-box button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2e7d32;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
.card .qty-count{
    background-color: #2e7d32;
    color: #fff;
    padding: 5px 10px;
}
